<main class="main">
  <header class="header"></header>

  <section class="content">
    <div class="viwpage">
      <div class="texts">
        <h1 class="title">Mi Día</h1>
        <span class="subtitle">Todas mis tareas en un solo lugar</span>
      </div>

      <div>
        <input [formControl]="newTaskCtrl" (keydown.enter)="changeHandle()" type="text" class="addTask"
          placeholder="Nueva Tarea">
      </div>

      <section class="listTask">
        <ul>
          @for (task of tasksByFilter(); track task; let i = $index) {
          <li (dblclick)="updateTaskEditingMode(task, i)" class="list">
            <div class="task-item">
              @if (!task.editing) {
              <div>
                <input type="checkbox" class="checkbox" [checked]="task.completed" (change)="updateTask(i)">
                <label [class.completedTask]="task.completed" class="labels">{{ task.title }}</label>
              </div>
              }
              <!-- Modo Edicion -->
              @if (task.editing) {
              <input (keydown.enter)="updateTaskEditingTitle(i, $event)" (blur)="updateTaskEditingTitle(i, $event)"
                type="text" [class.editing]="task.editing" [value]="task.title" placeholder="Editar Tarea">
              }
              <span (click)="deleteTask(i)" class="delete-icon">✕</span>
            </div>
          </li>
          }
        </ul>
        @if (tasksByFilter().length <= 0) { <h1 class="agregaTarea">No hay tareas</h1>
          }
      </section>

      <footer class="footer">
        <div class="">
          {{tasksByFilter().length}} Tarea@if (tasks().length > 1 || tasks().length === 0) {
          <span>s</span>
          }
        </div>
        <div class="filter">
          <span [class.filterActive]="filter() === 'all'" (click)="changeFilter('all')" class="itemFilter">Todas</span>
          <span [class.filterActive]="filter() === 'pending'" (click)="changeFilter('pending')"
            class="itemFilter">Pendientes</span>
          <span [class.filterActive]="filter() === 'completed'" (click)="changeFilter('completed')"
            class="itemFilter">Completadas</span>
        </div>
      </footer>
    </div>
  </section>
</main>

<!-- NO PER MITIR ESPACIOS EN EL INPUT  -->
